body{
    background-color: rgb(255, 81, 0);
    background-image: url("https://i.imgur.com/JEIz83W.png");
    background-size: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-width: 1487px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.starter
{
    text-align:center;
    margin-top: 50px;
}
.starter button, .midButtons button{
    padding: 20px;
    background-color: #fcb040;
    border: 1px black solid;
    font-weight: bold;
    font-size: 25px;
    width:174px;
}
.starter button:hover, .midButtons button:hover{
    background-color: #ffc46c;
    cursor:-webkit-grab;
}
.starter button:active, .midButtons button:active{
    cursor:-webkit-grabbing;
    background-color: #ffd99f;
}

#left{
    margin-left: 10%;
    width: 30%;
    border: 1px black solid;
    min-height: 400px;
    max-height: 400px;
}
#right{
    float: right;
    margin-right: 10%;
    width: 30%;
    border: 1px black solid;
    min-height: 400px;
    max-height: 400px;
}
.WhiteBack{
    background-color: rgba(252, 176, 64, .9);
    color:white;
    padding:5px;
    padding: 10px 15px 10px 30px;
    
    overflow: auto;
}

.cart{
    padding-left: 20px;
}

.WhiteBack button{
    color:black;
    display:inline-block;
    padding: 20px;
    background-color: #ffebcc;
    border: 1px black solid;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    width:70%;
}

#right button:hover{
    background-color:#fc472f;
    cursor:-webkit-grab;
}
#left button:hover{
    background-color:#87db38;
    cursor:-webkit-grab;
}

#left button:active, #right button:active{
    background-color:#ffb039;
    cursor:-webkit-grabbing;
    border-radius: 15px;
}

.midButtons{
    float:right;
    margin-right:20px;
    display: none;
}

#total{
    float:right;
    width: 30%;
    height: 30px;
    margin-right: 10%;
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 0;
    padding-top: 0;
    justify-content: space-between;
}

#total span{
    margin-left: 40px;
}

#BUTTONS{
    float: right;max-width: 200px;
}

#finalize{
    width: 35%;
    height: 250px;
    position: absolute;
    left:32%;
    text-align: center;
    top: 30%;
    border: 2px black solid;
    background-color: rgb(255, 81, 0);
    border-radius: 12px;
    color: white;
    display: none;
}

#Closer{
    text-align: right;
    margin: 0;
    margin-right: 10px;
}

#Closer span:hover{
    color: rgb(247, 165, 127);
    cursor:-webkit-grab;
}

#Closer span:active{
    color: rgb(143, 91, 68);
}